/* Clean up fixes on new major version of bundle */
.cf-progress__text-for-acc {
  height: 0;
  text-indent: -9999px;
}

.cf-ranking-status {
  position: absolute;
  left: -9999px;
}
.cf-ranking-status--rtl {
  right: -9999px;
  left: auto;
}

.cf-hrs-single__scale-label-panel{
  overflow: auto;
}