$gb-item-indent: 4px;

.cf-gb-single {
  &__scale {
    display: flex;
    flex: 1 0 auto;
    margin-bottom: 1em;

    &-label-panel {
      margin-bottom: 1em;
    }

    &-item {
      @include scale_item();
      flex: 1 0 0px;
      transition-delay: 0.1s;

      &--hover {
        @extend .cf-gb-single__scale-item--selected;
        transition: background 0.5s linear;
      }
    }
  }

  &__scale-label-panel {
    overflow: auto;
  }

  &__na {
    @include radio_list();
  }

  &__scale-texts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 1em;
  }

  &__scale-text {
    flex: 1 1 0px;
    text-align: center;
    transition-delay: 0.1s;
    margin-right: $gb-item-indent;
    min-width: 1px;

    &:last-child {
      margin-right: 0;
    }

    &--selected {
      color: $control-active-color;
    }

    &--hover {
      color: $control-active-color;
      transition: color 0.5s linear;
    }
  }
}

.cf-gb-single--rtl {
  .cf-gb-single__scale-item {
    @include scale_item(true);
  }

  .cf-gb-single__na {
    @include radio_list(1.4em, true);
  }
}



