.cf-grid-3d {
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-grid-3d {
    &__mobile {
      display: block;
    }
    &__desktop {
      display: none;
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-grid-3d {
    &__mobile {
      display: none;
    }
    &__desktop {
      display: block;
    }
  }
}

// Mobile
.cf-grid-3d-mobile-inner-question {
  margin-bottom: 2em;

  &__text,
  &__errors {
    margin-bottom: 1em;
  }

  &__text {
    font-weight: bold;
  }

  &__content {
    padding: 0 ($padding-desktop + $answer-group-border-width);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Desktop
.cf-grid-3d-desktop {
  &__errors {
    margin-bottom: 1em;
  }

  &__content {
    overflow: auto;
    padding-bottom: 1em;
  }

  &__answer-other-input {
    width: 260px;
  }
}

// TODO(NEXT_VERSION): marge it to one common control for radio button.
.cf-grid-single-answer {
  @include radio_bg($control-size);
  cursor: pointer;
  width: $control-size;
  height: $control-size;
  display: block;
  margin: 0 auto;

  &--selected {
    @include radio_bg($control-size, true);
  }
}

// TODO(NEXT_VERSION): marge it to one common control for radio button.
.cf-grid-multi-answer {
  @include checkbox_bg($control-size);
  cursor: pointer;
  width: $control-size;
  height: $control-size;
  display: block;
  margin: 0 auto;

  &--selected {
    @include checkbox_bg($control-size, true);
  }

  &--exclusive {
    @include radio_bg($control-size);

    &.cf-grid-multi-answer--selected {
      @include radio_bg($control-size, true);
    }
  }
}

.cf-grid-open-answer,
.cf-grid-dropdown-answer {
  min-width: 8em;
  max-width: 20em;
  width: 100%;

  &--no-limit {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.cf-grid-numeric-answer, .cf-grid-rank-by-number-answer {
  min-width: 2em;
  max-width: 4em;
  width: 100%;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  &::-ms-clear {
    display: none;
  }
}

@media (max-width: $delimiter-tablet) {
  .cf-grid-3d-mobile-inner-question {
    &__content {
      padding: 0 ($padding-tablet + $answer-group-border-width);
    }
  }
}

@media (max-width: $delimiter-mobile) {
  .cf-grid-3d-mobile-inner-question {
    &__content {
      padding: 0 ($padding-mobile + $answer-group-border-width);
    }
  }
}