.cf-sr-grid-answer {

  &__control {
    display: flex;
  }

  &__scale-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__scale {
    flex: 0 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-item {
      flex: 0 1 auto;
      width: 90px;
      height: 3em;
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 28 28"><polygon fill="#{$control-primary-color}" points="9.82 9.10 13.86 0 17.89 9.10 27.82 9.10 19.80 15.85 23.55 26.97 13.86 19.93 4.30 26.88 8.02 15.85 0 9.10" /></svg>');
      background-size: 2em;
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      &--selected {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 28 28"><polygon fill="#{$control-active-color}" points="9.82 9.10 13.86 0 17.89 9.10 27.82 9.10 19.80 15.85 23.55 26.97 13.86 19.93 4.30 26.88 8.02 15.85 0 9.10" /></svg>');
      }
    }
  }

  &__scale-label-panel {
    overflow: auto;
  }
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-sr-grid-answer {

    margin-bottom: 2em;

    &__control {
      flex-direction: column;
      align-items: stretch;
    }

    &__scale-container {
      margin-bottom: 1em;
    }

    &__scale {
      flex: 1 1 auto;
      justify-content: space-between;

      &-item {
        flex: 0 1 auto;
        width: 2em;
      }
    }

    &__scale-label-panel {
      display: none;
    }

    &__na {
      @include radio_list();

      &-item {
        margin-bottom: 0.5em;
      }
    }

    &--fake-for-panel {
      margin-bottom: 0;

      .cf-sr-grid-answer__scale-label-panel {
        display: block;
      }

      .cf-sr-grid-answer__text,
      .cf-sr-grid-answer__scale-texts,
      .cf-sr-grid-answer__scale,
      .cf-sr-grid-answer__na {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-sr-grid-answer {
    @include grid-layout-answer-content-indent(3em, 1.4em);

    margin-bottom: 0;

    &-text {
      line-height: 1.2em;
    }

    &__control {
      align-items: center;
    }

    &__scale-container {
      flex: 0 1 auto;
      min-width: 1px; // 1px instead of 0px due to fix ie11 bug
    }

    &__scale-label-panel {
      display: none;
    }

    &__na {
      @include na_scale();
      flex: 0 0 auto;
      margin-left: 1em;
    }

    &--fake-for-panel {
      .cf-sr-grid-answer__scale-label-panel {
        display: block;
        margin-bottom: 0.5em;
      }
      .cf-sr-grid-answer__scale,
      .cf-sr-grid-answer__na {
        visibility: hidden;
        height: 1px;
      }
      .cf-sr-grid-answer__scale {
        margin-top: -1px;
      }
    }
  }
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-sr-grid-answer--rtl .cf-sr-grid-answer__na {
    @include radio_list(1.4em, true);
  }
  .cf-sr-grid-answer--rtl {
    .cf-sr-grid-answer {
      &__scale-item {
        margin-right: 0;
        margin-left: $gb-item-indent/2;
      }

      &__scale-text {
        margin-right: 0;
        margin-left: $gb-item-indent/2;
      }
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-sr-grid--rtl .cf-sr-grid-answer__na {
    margin-left: 0;
    margin-right: 16px;
  }
  .cf-sr-grid-answer--rtl .cf-sr-grid-answer__na-item {
    margin-right: 0;
    margin-left: 4px;
  }
}


