.cf-sr-single {
  &__scale {
    flex: 0 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    &-item {
      flex: 0 1 auto;
      width: 2em;
      height: 3em;
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 28 28"><polygon fill="#{$control-primary-color}" points="9.82 9.10 13.86 0 17.89 9.10 27.82 9.10 19.80 15.85 23.55 26.97 13.86 19.93 4.30 26.88 8.02 15.85 0 9.10" /></svg>');
      background-size: 2em;
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      &--selected {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 28 28"><polygon fill="#{$control-active-color}" points="9.82 9.10 13.86 0 17.89 9.10 27.82 9.10 19.80 15.85 23.55 26.97 13.86 19.93 4.30 26.88 8.02 15.85 0 9.10" /></svg>');
      }
    }
  }

  &__na {
    @include radio_list();
  }

  &__scale-label-panel {
    overflow: auto;
    margin-bottom: 0.5em;
  }
}

.cf-sr-single--rtl .cf-sr-single__na {
  @include radio_list(1.4em, true);
}
