$hrs-item-indent: 4px;

.cf-hrs-single {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__scale-label-panel {
    overflow: auto;
  }

  &__scale {
    flex: 1 1 auto;
    display: flex;
    margin-top: $hrs-item-indent;
    margin-bottom: 1em;

    &-item {
      @include scale_item();
      flex: 1 0 0px;
    }
  }

  &__na {
    @include radio_list();

    &-item {
      margin-bottom: 0.5em;
    }
  }
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-hrs-single {
    &__scale {
      margin-top: $hrs-item-indent/2;

      &-item {
        margin-right: $hrs-item-indent/2;
      }
    }
  }
}

.cf-hrs-single--rtl {
  .cf-hrs-single {
    &__scale-item {
      @include scale_item(true);
      flex: 1 0 0px;
    }

    &__na {
      @include radio_list(1.4em, true);
    }
  }
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-hrs-single--rtl .cf-hrs-single__scale-item {
    margin-right: 0;
    margin-left: $hrs-item-indent/2;
  }
}


