@media (max-width: $desktop-layout-delimiter) {
  .cf-grid-answer--multi {

    .cf-grid-answer__scale {
      @include checkbox_list($control-size);

      justify-content: space-between;

      &-item {
        &--exclusive {
          @include radio($control-size);

          &.cf-grid-answer__scale-item--selected {
            @include radio($control-size, true);
          }
        }
      }
    }

    .cf-grid-answer__other {
      width: 15em;
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-grid-answer--multi {
    .cf-grid-answer__scale-item {
      @include checkbox($control-size);
    }

    .cf-grid-answer__scale-item--selected {
      @include checkbox($control-size, true);
    }

    .cf-grid-answer__scale-item--exclusive {
      @include radio($control-size);

      &.cf-grid-answer__scale-item--selected {
        @include radio($control-size, true);
      }
    }

    //after scale-item and all its modifiers for overriding mixin styles
    .cf-grid-answer__scale-item {
      padding: 0 1em;
      background-position: center;
    }

    .cf-grid-answer__other {
      visibility: hidden;
      width: 12em;
    }

    .cf-grid-answer__other--in-label {
      visibility: visible;
      max-width: none;
      margin-top: 0;
    }

    .cf-grid-answer__scale-item .cf-error-block {
      display: none;
    }
  }
}


.cf-grid-answer--rtl {
  @media (max-width: $desktop-layout-delimiter) {
    &.cf-grid-answer--multi {
      .cf-grid-answer__scale {
        @include checkbox_list($control-size, true);

        &-item {
          &--exclusive {
            @include radio($control-size, false, true);

            &.cf-grid-answer__scale-item--selected {
              @include radio($control-size, true, true);
            }
          }
        }
      }
    }
  }

  @media (min-width: $desktop-layout-delimiter + 1) {
    &.cf-grid-answer--multi {
      .cf-grid-answer__scale-item {
        @include checkbox($control-size, false);
      }

      .cf-grid-answer__scale-item--selected {
        @include checkbox($control-size, true);
      }

      .cf-grid-answer__scale-item--exclusive {
        @include radio($control-size, false);

        &.cf-grid-answer__scale-item--selected {
          @include radio($control-size, true);
        }
      }

      //after scale-item and all its modifiers for overriding mixin styles
      .cf-grid-answer__scale-item {
        padding: 0 1em;
        background-position: center;
      }
    }
  }
}

