@media (max-width: $desktop-layout-delimiter) {
  .cf-grid-answer {
    margin-bottom: 2em;

    &__scale {
      @include radio_list($control-size);

      justify-content: space-between;
    }

    &__scale-image-item {
      display: flex;
      margin: 0 0 1em;
    }

    &__labels {
      display: none;
    }

    &__scale-group-labels {
      display: none;
    }

    &__scale-group-heading,
    &__scale-group-end {
      width: 100%;
      height: 0.75em;
      margin: 1em auto;
      border: 1px solid;
      border-color: $control-head-color;
      color: $control-head-color;
    }

    &__scale-group-heading {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      border-bottom: none;
    }

    &__scale-group-title {
      text-align: center;
      overflow: hidden;
      max-width: 80%;
      margin-top: -0.75em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: $question-bg-color;
    }

    &__scale-group-end {
      border-top: none;
    }

    &__scale-item + &__scale-group-heading,
    &__scale-item + &__scale-group-end {
      margin-top: 0;
    }

    &--fake-for-panel {
      display: none;
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-grid {
    overflow: auto;
    padding-left: $padding-desktop + $answer-group-border-width;
    margin-left: -($padding-desktop + $answer-group-border-width);
  }

  .cf-grid-answer {
    @include grid-layout-answer-content-indent(3em, 1.2em);

    margin-bottom: 0;

    &__text {
      line-height: 1.2em;
    }

    &__control {
      flex: 0 1 auto;
      min-width: auto;
    }

    &__scale {
      @include grid_cells();
      align-items: center;

      &-item {
        @include radio($control-size);
        @include grid_cell();

        height: 3em;
        background-position: center;

        &-text {
          @include grid_cell_text();
        }

        &--selected {
          @include radio($control-size, true);
        }
      }
    }

    &__scale-image-item {
      margin: .5em;
    }

    &__labels {
      @include grid_cells();
      align-items: center;
      padding: 0.5em 0;
      background-color: $control-head-color;
      color: $control-head-font-color;
      margin-bottom: 0.5em;
    }

    &__label {
      @include grid_cell();
    }

    &__scale-group-heading,
    &__scale-group-end {
      display: none;
    }

    &--fake-for-panel {
      .cf-grid-answer__scale {
        visibility: hidden;
        height: 1px;
        margin-top: -1px;
      }
    }
  }

  .cf-grid-scale-group-panel {
    margin-bottom: 0.25em;
    &__labels {
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.25em;
    }

    &__label--empty {
      visibility: hidden;
    }

    &__label-text-wrapper {
      display: flex;
    }

    &__label-text {
      width: 1px;
      flex: 1 1 auto;
      line-height: 1.2em;
      text-align: center;
      color: $control-head-color;
    }

    &__scales, &__borders {
      display: flex;
    }

    &__scale {
      @include grid_cell();
      height: 0px;
      text-align: center;
      visibility: hidden;
    }

    &__scale-text {
      height: 0px;
      overflow: hidden;
    }

    &__border {
      @include grid_cell();
      height: 1px;
      position: relative;
      &:after {
        content: '';
        background: $control-head-color;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
      }

      &--left-edge {
        &:first-child {
          &:after {
            left: 0;
          }
        }
        &:after {
          left: 0.25em;
        }
      }

      &--right-edge {
        &:last-child {
          &:after {
            right: 0;
          }
        }
        &:after {
          right: 0.25em;
        }
      }
    }
    &__spacer {
      @include grid_cell();
      visibility: hidden;
    }
  }
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-grid-answer--rtl {
    .cf-grid-answer__scale {
      @include radio_list($control-size, true);
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-grid--rtl {
    margin-right: -($padding-desktop + $answer-group-border-width);
    padding-right: $padding-desktop + $answer-group-border-width;
    margin-left: 0;
    padding-left: 0;
  }
  .cf-grid-scale-group-panel--rtl {
    .cf-grid-scale-group-panel__border--left-edge:after {
      left: 0;
      right: 0.25em;
    }

    .cf-grid-scale-group-panel__border--right-edge:after {
      right: 0;
      left: 0.25em;
    }
  }
}
