.cf-multi-answer {
  @include checkbox($control-size);

  &__other-input {
    width: 15em;
  }

  &--selected {
    @include checkbox($control-size, true);
  }

  &--exclusive {
    @include radio($control-size);

    &.cf-multi-answer--selected {
      @include radio($control-size, true);
    }
  }
}

.cf-multi-answer--rtl {
  @include checkbox($control-size, false, true);
  &.cf-multi-answer {
    &--selected {
      @include checkbox($control-size, true, true);
    }

    &--exclusive {
      @include radio($control-size, false, true);

      &.cf-multi-answer--selected {
        @include radio($control-size, true, true);
      }
    }
  }
}

.cf-multi-answer-other {
  margin-top: 0.25em;
  margin-left: $control-size + 0.8em;

  &--rtl {
    margin-left: 0;
    margin-right: $control-size + 0.8em;
  }
}