@mixin grid_cells() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin grid_cell() {
  flex: 0 1 auto;
  max-width: none;
  min-width: auto;
  padding: 0 1em;

  text-align: center;
}

@mixin grid_cell_text() {
  visibility: hidden;
  display: inline-block;
  height: 0px;
  overflow: hidden;
}