@mixin scale_item($rtl: false) {
  @if($rtl){
    margin-right: 0;
    margin-left: 4px;
    &:first-child {
      margin-left: 4px;
    }
    &:last-child {
      margin-left: 0;
    }
  } @else {
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
  min-height: 2.4em;
  background: $control-primary-color;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &--selected {
    background: $control-active-color;
    color: $question-bg-color;
  }
}

@mixin na_scale($rtl: false)  {
  display: flex;

  &-item {
    @include scale_item($rtl);

    flex: 0 0 auto;
    padding: 0 1em;
  }
}