.cf-answer-button {
  background-color: $control-primary-color;
  min-height: 3em;
  max-width: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__text {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__other-input {
    width: 15em;
    max-width: 90%;
    text-overflow: ellipsis;

    cursor: pointer;
  }

  & + .cf-error-block {
    margin-top: -.5em;
  }
}

.cf-answer-button--selected {
  background-color: $control-active-color;
  color: $question-bg-color;

  .cf-answer-button__other-input {
    color: $question-bg-color;
    background: $answer-button-text-input-color;
    border-bottom: 1px solid $question-bg-color;

    &--error{
      border-bottom: 1px solid $error-border-color;
    }
  }
}

.cf-answer-button-other {
  margin-top: 0.25em;
}

//hack for ie11
@media screen and (-ms-high-contrast:none)
{
  .cf-answer-button:before {
    content: '';
    min-height: inherit;
    visibility: hidden;
  }
}