@mixin list() {
  display: flex;
  flex-direction: column;

  &-item,
  &__item {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cf-list {
  @include list();
}


.cf-list--compact {
  max-width: 30em;

  .cf-list-item,
  .cf-list__item {
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cf-list--multi-columns {
  @media (min-width: $desktop-layout-delimiter + 1) {
    display: -ms-grid;
    display: grid;

    grid-auto-flow: column;
  }
}

.cf-list--inline-two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -4px -4px 0;

  .cf-list__item {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  @media (max-width: $desktop-layout-delimiter) {
    justify-content: space-between;

    .cf-list__item {
      flex: 1 1 40%;
      text-align: center;
    }

    &::after {
      content: '';
      flex: 1 1 40%;
      margin-right: 4px;
    }
  }

  @media (min-width: $desktop-layout-delimiter + 1) {
    justify-content: center;

    .cf-list__item {
      flex: 0 0 auto;
    }
  }
}

.cf-list--rtl {
  .cf-list--inline-two-columns {
    margin: 0 0 -4px -4px;

    .cf-list__item {
      margin-right: 0;
      margin-left: 4px;
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-list--multi-columns {
    display: -ms-grid;
    display: grid;

    grid-auto-flow: column;
    grid-column-gap: 5%;

    .cf-list__item:last-child {
      margin-bottom: 1em;
    }
  }

  // Ugly workaround for unsupported grid-gap property in IE/EDGE
  _:-ms-lang(x), .cf-list--multi-columns .cf-list__item {
    margin-right: 10%;
  }
}
