.cf-table-layout {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  padding-left: $answer-group-border-width;

  // COMMON
  &__cell {
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 0.5em;

    &--empty {
      visibility: hidden;
    }
  }

  // BODY
  &__row--first .cf-table-layout__cell {
    padding-top: 16px;
  }

  &__row-head {
    font-weight: normal;
    text-align: left;
    padding-left: 0.5em;
    padding-top: 0.7em;

    max-width: 50vw;
  }

  // HEAD
  &__head {
  }

  &__column-head {
    font-weight: normal;
    text-align: center;
    padding: 0.5em 1em;
    vertical-align: bottom;
    background-color: $control-head-color;
    color: $control-head-font-color;
  }

  &__column-group-title {
    padding-bottom: 0;
  }

  // GROUP
  &__row-group-start {
    height: 2.4em;
  }
  &__row-group-head {
    text-align: left;
  }
  &__row-group-title {
    color: $control-head-color;
    font-weight: bold;
    position: relative;
    left: -$answer-group-border-width;
  }
  &__row-group-end {
    height: 2.4em;
  }
}

.cf-table-layout {
  &__cell:first-child {
    padding-left: $padding-desktop;
  }

  &__row--in-group .cf-table-layout__cell:first-child {
    padding-left: ($padding-desktop - $answer-group-border-width);
    border-left: $answer-group-border-width solid $control-head-color;
  }
}

.cf-table-layout--rtl {
  direction: rtl;

  .cf-table-layout {

    &__row-head {
      text-align: right;
    }

    &__row-group-head {
      text-align: right;
    }

    &__row-group-title {
      left: auto;
      right: -$answer-group-border-width;
    }

    &__cell:first-child {
      padding-right: $padding-desktop;
      padding-left: 0;
    }

    &__row--in-group .cf-table-layout__cell:first-child {
      padding-right: ($padding-desktop - $answer-group-border-width);
      padding-left: 0;
      border-right: $answer-group-border-width solid $control-head-color;
      border-left: none;
    }
  }
}

@media (max-width: $delimiter-tablet) {
  .cf-table-layout {
    &__cell:first-child {
      padding-left: $padding-tablet;
    }

    &__row--in-group .cf-table-layout__cell:first-child {
      padding-left: ($padding-tablet - $answer-group-border-width / 2);
      border-left: $answer-group-border-width / 2 solid $control-head-color;
    }
  }

  .cf-table-layout--rtl {
    .cf-table-layout {
      &__cell:first-child {
        padding-left: 0;
        padding-right: $padding-tablet;
      }

      &__row--in-group .cf-table-layout__cell:first-child {
        padding-left: 0;
        padding-right: ($padding-tablet - $answer-group-border-width / 2);
        border-left: none;
        border-right: $answer-group-border-width / 2 solid $control-head-color;
      }
    }
  }
}

@media (max-width: $delimiter-mobile) {
  .cf-table-layout {
    &__cell:first-child {
      padding-left: $padding-mobile;
    }

    &__row--in-group .cf-table-layout__cell:first-child {
      padding-left: ($padding-mobile - $answer-group-border-width / 2);
      border-left: $answer-group-border-width / 2 solid $control-head-color;
    }
  }

  .cf-table-layout--rtl {
    .cf-table-layout {
      &__cell:first-child {
        padding-left: 0;
        padding-right: $padding-mobile;
      }

      &__row--in-group .cf-table-layout__cell:first-child {
        padding-left: 0;
        padding-right: ($padding-mobile - $answer-group-border-width / 2);
        border-left: none;
        border-right: $answer-group-border-width / 2 solid $control-head-color;
      }
    }
  }
}